@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.3s;
}
header.black {
    background-color: #141414;
}
.header--logo {
    font-family: 'Bebas Neue', cursive;
    color: #E50914;
    font-size: 50px;
}
.header--user {
    height: 50px;
}
.header--user img {
    height: 100%;
    
}